<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
</head>
<body>
    <form method="POST" action="/" name="">
        <label>name:</label>
        <input type="text" name="name" value="default">
        <label>age</label>
        <input type="number" name="age" value="20">
        <input type="submit" name="submit" value="é€ä¿¡">

    </form>
    <div class="container">
        <div class="contents">
            <h1>header</h1>
        </div>
    </div>
</body>
</html>
